/* style for the buttons that let the user move between pages */
#movePageButtons {
    font-family: Tangerine, sans-serif;
    /* float: right; */
    padding-left: 30px;
    padding-top: 20px;
    font-size: 50px;
    text-decoration: none;
    padding-bottom: 30px;
}
/* hover detail for buttons that let user move between pages */
#movePageButtons:hover {
    font-weight: bolder;
}
/* styling for the time text */
.time {
    padding-right: 70px;
    font-family: Tangerine, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    text-align: end;
}
/* styling for the webpage title and subheader */
#webpage-title {
    text-align: center;
    font-weight: bold;
}

#webpage-subheader {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}

/* styling for the start button */
.start-button {
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: blueviolet;
    background-image: linear-gradient(to top left, blue, blueviolet, violet);
    font-size: 70px;
    cursor: pointer;
}

.start-button:hover{
    background-color: purple;
    background-image: none;
}
/* styling for the options presented to the user when answering a question */
#question-option {
    list-style-type: none;
    padding-bottom: 20px;
    text-align: center;
}

#option-button {
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: blueviolet;
    background-image: linear-gradient(to top left, blue, blueviolet, violet);
    border-radius: 10px;
    font-size: 70px;
    /* text-align: center; */
    cursor: pointer;
    
}

#option-button:hover{
    background-color: purple;
    background-image: none;
}

/* styling for the text to tell the user if they are correct or not */
#bottom {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}